.Weather {
  border: 1px solid #fdefff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 6px;
  color: #915e8e;
  background: #fdefff;
  box-shadow: 0px 0px 55px 20px rgba(248, 150, 173, 1);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  line-height: 1;
}

.Weather .btn {
  background: #915e8e;
  border: #915e8e;
}
